<div class="container">
  <h2>Chat</h2>
  <div *ngFor="let message of messages" class="row d-flex justify-content-center">
    <app-message [message]="message"></app-message>
  </div>
  <form (ngSubmit)="sendMessage()">
    <div class="form-group">
      <label for="content">Message:</label>
      <input type="text" class="form-control" id="content" name="content" [(ngModel)]="newMessageInput" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Send</button>
  </form>
</div>
